---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.vue';
import Hero from '../components/Hero.vue';
import About from '../components/About.vue';
import Skills from '../components/Skills.vue';
import Projects from '../components/Projects.vue';
import Contact from '../components/Contact.vue';
---

<Layout title="Caio Sousa — Dev Portfolio">
  <Navbar client:load />
  <main>
    <Hero client:load />
    <About client:visible />
    <Skills client:visible />
    <Projects client:visible />
    <Contact client:visible />
  </main>
</Layout>
